<!-- Header section -->
<h1><a href="/">MyTrainingDiary</a></h1>
<nav>
    {{#if authenticated}}
    <a href="/dashboard">My dashboard</a>
    <a href="/accounts">My network</a>
    <a href="/logout">Logout</a>
    {{else}}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    {{/if}}
</nav>
