<div>
    {{#if account}}
    <h2>{{account.username}}</h2>
    <p>Email: {{account.email}}</p>
    <br>

    <h3>Weights:</h3>
    {{#if weights}}
    <ul>
        {{#each weights}}
        <li>
            <p>{{value}} kg on {{time}}</p>
            <br>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No weights.</p>
    {{/if}}
    <br>

    <h3>Activities</h3>
    {{#if activities}}
    <ul>
        {{#each activities}}
        <li>
            <p>{{title}}</p>
            <p> Started on : {{ start }}</p>
            <p> Finished on : {{ stop }}</p>
            <p>{{description}}</p>
            <br>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No activities.</p>
    {{/if}}

    {{else}}
    <p>No account.</p>
    {{/if}}
</div>