<div>
    {{#if accounts}}
    <ul>
        {{#each accounts}}
        <li>
            <p>
                {{username}} <a href="/accounts/{{id}}">+</a>
            </p>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No account.</p>
    {{/if}}
</div>