<h1>Create Activity!</h1>
<div>
    <form action="/activities/create" method="post">
        <div>
            <label for="title">Title:</label>
            <input type="text" name="title">
        </div>
        <br>
        <div>
            <label for="start">Start time:</label>
            <input type="datetime-local" name="start">
        </div>
        <br>
        <div>
            <label for="stop">Stop time:</label>
            <input type="datetime-local" name="stop">
        </div>
        <br>
        <div>
            <label for="description">Description:</label>
            <br>
            <textarea name="description" placeholder="Team training at Campus Arena..."></textarea>
        </div>
        <br>
        <input type="submit" value="Create">
    </form>
</div>