﻿<h1>How was the training today, {{ username }}?</h1>
<div>
    <p>This is your dashboard!</p>
    <br>
    <div>

        <h3>My weights</h3>
        {{#if weights}}
        <ul>
            {{#each weights}}
            <li>
                <p>{{ value }}</p>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p>No weights.</p>
        {{/if}}

        <a href="/weights/create">New weight</a>
    </div>
    <br>
    <div>
        <h3>My activities</h3>
        {{#if activities}}
        <ul>
            {{#each activities}}
            <li>
                <p>{{title}}</p>
                <p> Started on : {{ start }}</p>
                <p> Finished on : {{ stop }}</p>
                <p>{{description}}</p>
                <br>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p>No activities.</p>
        {{/if}}

        <a href="/activities/create">New activity</a>

    </div>

</div>
