<h1>Login!</h1>
<div>
    <form action="/login" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password">
        </div>
        <input type="submit" value="Login">
    </form>
</div>