<h1>Register!</h1>
<div>
    <form action="/accounts/create" method="post">
        <div>
            <label for="email">Email:</label>
            <input type="text" name="email">
        </div>
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password">
        </div>
        <div>
            <label for="born">Born:</label>
            <input type="date" name="born">
        </div>
        <div>
            <label for="city">City:</label>
            <input type="text" name="city">
        </div>
        <input type="submit" value="Register">
    </form>
</div>