<h1>Create Weight!</h1>
<div>
    <form action="/weights/create" method="post">
        <div>
            <label for="value">Your actual weight:</label>
            <input type="text" name="value">
        </div>
        <div>
            <label for="time">Time:</label>
            <input type="date" name="time">
        </div>
        <input type="submit" value="Create">
    </form>
</div>